*{
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

header {
    background-color: paleturquoise;
    height: 100px;
    line-height: 100px;
}

main {
    display: flex;
    height: 500px;
    line-height: 500px;
}

article {
    flex: 3;
    order: 1;
    background-color: gold;
}

aside {
    flex: 1;
    order: 2;
    background-color: rgb(72, 168, 72);
}

nav {
    flex: 1;
    order: 3;
    background-color: plum;
}

footer {
    background-color: rgb(236, 39, 39);
    height: 100px;
    line-height: 100px;
}

