body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 30px auto;
    border: 2px solid #999;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.box1, .box2, .sidebar-left, .content, .sidebar-right, .footer {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.box1 {
    width: 150px;
    height: 50px;
    background-color: yellow;
}

.box2 {
    flex: 1;
    height: 50px;
    background-color: orange;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px; 
    margin-bottom: 10px;
}

.sidebar-left {
    width: 150px;
    height: 200px;
    background-color: lightgreen;
}

.content {
    flex: 1;
    height: 200px;
    background-color: lightgray;
}

.sidebar-right {
    width: 150px;
    height: 200px;
    background-color: deepskyblue;
}

.footer {
    height: 50px;
    background-color: blue;
}
